<% content_for :page_title, "Your Profile" %>

<div id="renderable" data-user="<%= @resource.attributes.slice("id", "email", "username").to_json %>">
</div>

<div class="text-center">
  <p class="text-grey-500 text-sm">
    <%= link_to "Sign out", sessions_sign_out_path %>
  </p>
</div>

<%= javascript_pack_tag 'profile' %>
