<h1>Forgotten your password?</h1>

<p>
  Hi <%= @password_reset_token.user.username %>,
</p>

<p>
  We received a request to reset your password. If this is not you,
  you may ignore this email. To start the process of resetting your
  password, please click the following button:
</p>

<%= link_to "Reset my password", sessions_reset_password_url(@password_reset_token), class: "button" %>
